html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 0;
}

.ftco-navbar-light .navbar-brand {
  color: #ffffff;
}

.ftco-navbar-light .navbar-brand:hover,
.ftco-navbar-light .navbar-brand:focus {
  color: #ffffff;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 14px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: #ffffff;
  opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
  color: #ffffff;
}

.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
  background: #c8a97e;
  color: #ffffff;
  border-radius: 5px;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a {
  color: #c8a97e;
}

/* ***************this below written code will work when our page content goes more than screen size or when it is scrolled */

.ftco-navbar-light.scrolled .nav-item.active > a {
  color: #c8a97e !important;
}

.ftco-navbar-light.scrolled .nav-item.cta > a {
  color: #ffffff !important;
  background: #c8a97e;
  border: none !important;
  border-radius: 0;
}
.ftco-navbar-light.scrolled .nav-item.cta > a span {
  display: inline-block;
  color: #ffffff !important;
}

.ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
  border-color: #c8a97e;
}

.ftco-navbar-light.scrolled .nav-link {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
  color: #000000 !important;
}

.ftco-navbar-light.scrolled .nav-link.active {
  color: #c8a97e !important;
}

.ftco-navbar-light.scrolled.awake {
  margin-top: 0px;
  transition: 0.3s all ease-out;
}

.ftco-navbar-light.scrolled.sleep {
  transition: 0.3s all ease-out;
}
.ftco-navbar-light.scrolled .navbar-brand {
  color: #000000;
}

.navbar-brand {
  font-weight: 900;
  font-size: 20px;
}

body{
  background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%)}
header {
  top: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
}
.logo
{
  display: contents;
  position: relative;
  font-size: 30px;
  color: #070707;
  text-decoration: none;
  font-weight: 700;
  cursor: default;
  color: rgb(217, 158, 169);
}
.logo span{
  color: rgb(121, 180, 184);
}


.links a
{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: #050505;
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
  margin-top: 10px;
  float: left;
}

.home .img
{
  width: 700px;
  height: 700px;
  float: right;
  height: 35rem;
  margin-top: 185px;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-7rem);
    }
}

.home_contant {
  padding: 15% 10%;
  margin-left: 50px;
  
}
.home_contant h1{
  font-size: 100px;
  font-weight: 500;
  animation: float 4s linear infinite;
}
.home_contant h1 span{
  color:  rgb(217, 158, 169);
}
.home_contant p{
  color: #c8a97e;
  line-height:em; padding-bottom:15px;
  text-transform: none;
  font-size:30px;
  font-weight:normal;
  font-style: italic; font-family: "Playfair Display","Bookman",serif;
  letter-spacing:-0.005em; 
  word-spacing:1px;
  letter-spacing:none;

}
.about_contant
{
  width: 50%;
  float: right;
  margin: 30px;
}
.about_contant span{
  color:rgb(121, 180, 184);
}
.about_contant h1{
  font-size: 60px;
  color: rgb(217, 158, 169);
  margin-right: 100px;
}
.about_contant2
{
  padding: 20px;
}

.about_contant p{
  font-size: 15px;
}
.about_contant p span{
  color:rgb(121, 180, 184);
  font-size: 17px;
}
.abt_img
{
  width: 300px;
  height: 400px;
  float: right;
  margin: 100px;
}
#home
{
  height: 100vh;
}
#shop h1
{
  font-size: 30px;
}

.product-details {
  padding-top: 90px;
  padding-bottom: 0;
}

.product__item__pic .img{
  text-align: center;
  padding: 20px;
  width: 250px;
  height: 300px;
}

.product__label
{
  text-align: center;
}
.product__item__text{
  text-align: center;
}
.product__item__text a
{
  text-decoration: none;
  color: rgb(121, 180, 184);
}
.cart_add a{
  color:  rgb(217, 158, 169);
}
.search-wrapper
{
     width: 100%;
     max-width: 600px;
     height: 3.5rem;
     position: relative;
     margin-left: 17px;
     
}
.cart a{
  font-size: 20px;
  color: rgb(121, 180, 184);
}
.cart a{
  text-decoration: none;
  float: right;
  margin-right: 50px;

}
.search-box
{
    width: 100%;
    position: absolute;
    background-color: whitesmoke;
    box-shadow: rgba(2,11,20,0.2) 0px 5px 15px;
    height: 100%;
    width: 100%;

}
.search-card
{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0.5rem;
}
.search-input
{
    height: 100%;
    width: 100%;
    border: none;
    padding: 0.5rem;
}
.search-button
{
    width: 200px;
    background-color:lightblue;
    border: none;
    cursor: pointer;
}
 .text{
  font-family: 'Times New Roman', Times, serif;
  top: 0;
  margin-left: 15px;

}
.text h1{
  color:  rgb(121, 180, 184);
}
.text p{
  color: rgb(217, 158, 169);
  font-size: 20px;
}
#shop
{
  width: 70%;
  padding: 50px;
  float: left; 
}
#right
{
 width: 20%;
 padding: 20px;
 float: left;
}
.left
{
  width: 10%;
  float: left;


}
.shop__last__option{
  margin: 40px;
}
.shop__last__text
{
  text-align: center;
}
.right_img
{
  width: 80%;
  height: 200px;
}
#shop
{
  top: 0;
  margin-top: 0;
}
section
{
  width: 100%;
}
section .right{
  width: 20%;
}
section .shop{
    width: 60%;
}
.right_bar h2
{
  color: rgb(217, 158, 169);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.card-body a
{
  text-decoration: none;
  color:rgb(121, 180, 184);
}
.about_img
{
  margin: 50px;
}
#style h1
{
    color:rgb(121, 180, 184);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#footer{
  font-size: small;
  background-color:rgb(248, 247, 247);
}
.left_bar .card{
    margin: 10px;
}
#style
{
height: 50vh;
display: flex;
justify-content: center;
align-items: center;
font-family: "Raleway", Arial, sans-serif;
background:transparent;
text-align: center;
}

#style .card {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  padding: 30px 50px;
  background: #fff;
  cursor: pointer;
  margin-right: 30px;
  text-align: center;
}

#style .card:hover {
  height: 320px;
}

.imgbox {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-80px);
  z-index: 99;
}

.home_img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}
.content a{
  text-decoration: none;
  background-color: rgb(121, 180, 184);
  font-size: 10px;
  padding: 10px;
  border-radius: 7px;
  color: #fff;

  
}
.content {
  text-align: center;
  transform: translateY(-450px);
  opacity: 0;
  width: 100%;
  height: 100%;
  margin-top: 150px;
  color: rgb(121, 180, 184);
}
.card:hover > .content {
  opacity: 1;
  transform: translateY(-180px);
}
#pink
{
  color:  rgb(217, 158, 169);
}
#pink a{
  background-color:  rgb(217, 158, 169);
}
#pink h1{
  color: rgb(217, 158, 169);
}


.google-map {
  position: relative;
  text-align: center;
}

.google-map iframe {

  width: 100%;
  height: 300px;
}
.new_contact
{
  margin: 100px
}
video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.video-wrapper {
border: 2px solid #000;
width: 100%;
height: 100vh;
position: relative;
overflow: hidden;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}
.heading_contact
{
  position: relative;
  z-index: 1;
}
.background .container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
  width: 800px;
  height: 700px;
  margin-top: 300px;
}

.screen {
  position: relative;
  background: #ffff;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #c8a97e;
  color: #ffffff;
  border-radius: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color:  #c8a97e;;
  font-size: 60px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #c8a97e;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #c8a97e;;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  margin-left: 20px;
}

.app-form-button:hover {
  color: #c8a97e;
}
.box .text h2
{
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 1px;
}
.box .text small
{
  font-size: 18px;
  display: block;
}
.circle
{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle .points
{
  width: 3px;
  height: 15px;
  background: #0007;
  position: absolute;
  border-radius: 3px;
  transform: rotate(calc(var(--i)*var(--rot))) translateY(-100px);
  
}
.points.marked
{
  animation: glow 0.04s linear forwards;
  animation-delay: calc(var(--i)*0.05s);
}
.column__footer {
  float: left;
  padding: 10px;
}

.wrapper__footer {
  color: #ffffff;
  background: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}

/* Left Column Starts Here */
.left {
  width: 35%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  padding-right: 20px;
  border-right: solid #fff 1px;
}

.left .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.left .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.left .icons {
  margin-top: 25px;
}

.left .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
/* Left Column Ends Here */

/* Middle Column Starts Here */
.middle {
  width: 30%;
  padding: 20px;
}

.middle i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.middle i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.middle p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.middle p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.middle p a {
  color: #0099ff;
  text-decoration: none;
}
/* Middle Column Ends Here */

/* Right Column Starts Here */
.right {
  width: 35%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  border-left: solid #fff 1px;
}

.right h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.right h2 span {
  color: #0099ff;
}

.right .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.right .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.right .menu a:hover {
  color: #0099ff;
}

.right .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
/* Right Column Ends Here */

/* Clear floats after the columns */
.row__footer:after {
  content: "";
  display: table;
  clear: both;
}

/* Stack The Columns */
@media screen and (max-width: 600px) {
  .column__footer {
    width: 100%;
  }
}

#map {
  height: 400px;
}

.sec-icon {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

.sec-icon::before {
  content: "";
  position: absolute;
  height: 1px;
  left: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333333;
  width: 50px;
}

.sec-icon::after {
  content: "";
  position: absolute;
  height: 1px;
  right: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333;
  width: 50px;
}

.advertisers-service-sec {
  background-color: #f5f5f5;
}

.advertisers-service-sec span {
  color: rgb(217, 158, 169);
}

.advertisers-service-sec .col {
  padding: 0 1em 1em 1em;
  text-align: center;
}

.advertisers-service-sec .service-card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #fff;
}

.advertisers-service-sec .service-card::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(#0dcaf0,  rgb(217, 158, 169));
  position: absolute;
  left: 0%;
  top: -98%;
  z-index: -2;
  transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
}

.advertisers-service-sec h3 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
  z-index: 3;
}

.advertisers-service-sec p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  z-index: 3;
}

.advertisers-service-sec .icon-wrapper {
  background-color: #2c7bfe;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  z-index: 3;
}

.advertisers-service-sec .service-card:hover:after {
  top: 0%;
}

.service-card .icon-wrapper {
  background-color: #ffffff;
  color: rgb(255, 23, 131);
}

.advertisers-service-sec .service-card:hover .icon-wrapper {
  color: #0dcaf0;
}

.advertisers-service-sec .service-card:hover h3 {
  color: #ffffff;
}

.advertisers-service-sec .service-card:hover p {
  color: #f0f0f0;
}
.section-header h2{
  color: #333;
  line-height:em; padding-bottom:15px;
  text-transform: none;
  font-size:50px;
  font-weight:normal;
  font-style:normal;
   font-family: "Playfair Display","Bookman",serif;
  letter-spacing:-0.005em; 
  word-spacing:1px;
  letter-spacing:none;
}
